<?xml version="1.0" encoding="UTF-8"?>
<parameters>
	<parameter db="android_metadata">en_GB</parameter>
	<!--<parameter db="android_metadata">de_DE</parameter>-->
	<parameter db="system" name="volume_music">11</parameter>
	<parameter db="system" name="volume_ring">5</parameter>
	<parameter db="system" name="volume_system">5</parameter>
	<parameter db="system" name="volume_voice">3</parameter>
	<parameter db="system" name="volume_alarm">6</parameter>
	<parameter db="system" name="volume_notification">5</parameter>
	<parameter db="system" name="volume_bluetooth_sco">7</parameter>
	<parameter db="system" name="mode_ringer">2</parameter>
	<parameter db="system" name="vibrate_on">10</parameter>
	<parameter db="system" name="mode_ringer_streams_affected">130</parameter>
	<parameter db="system" name="mute_streams_affected">46</parameter>
	<parameter db="system" name="dim_screen">1</parameter>
	<parameter db="system" name="stay_on_while_plugged_in">0</parameter>
	<parameter db="system" name="emergency_tone">0</parameter>
	<parameter db="system" name="call_auto_retry">0</parameter>
	<parameter db="system" name="dtmf_tone_type">0</parameter>
	<parameter db="system" name="hearing_aid">0</parameter>
	<parameter db="system" name="tty_mode">0</parameter>
	<parameter db="system" name="airplane_mode_on">0</parameter>
	<parameter db="system" name="airplane_mode_radios">cell,bluetooth,wifi,nfc</parameter>
	<parameter db="system" name="airplane_mode_toggleable_radios">bluetooth,wifi,nfc</parameter>
	<parameter db="system" name="auto_time">1</parameter>
	<parameter db="system" name="auto_time_zone">1</parameter>
	<parameter db="system" name="screen_brightness_mode">0</parameter>
	<parameter db="system" name="window_animation_scale">1.0</parameter>
	<parameter db="system" name="transition_animation_scale">1.0</parameter>
	<parameter db="system" name="accelerometer_rotation">1</parameter>
	<parameter db="system" name="haptic_feedback_enabled">1</parameter>
	<parameter db="system" name="notification_light_pulse">0</parameter>
	<parameter db="system" name="set_install_location">0</parameter>
	<parameter db="system" name="default_install_location">0</parameter>
	<parameter db="system" name="power_sounds_enabled">1</parameter>
	<parameter db="system" name="low_battery_sound">/system/media/audio/ui/LowBattery.ogg</parameter>
	<parameter db="system" name="dtmf_tone">1</parameter>
	<parameter db="system" name="sound_effects_enabled">0</parameter>
	<parameter db="system" name="dock_sounds_enabled">0</parameter>
	<parameter db="system" name="desk_dock_sound">/system/media/audio/ui/Dock.ogg</parameter>
	<parameter db="system" name="desk_undock_sound">/system/media/audio/ui/Undock.ogg</parameter>
	<parameter db="system" name="car_dock_sound">/system/media/audio/ui/Dock.ogg</parameter>
	<parameter db="system" name="car_undock_sound">/system/media/audio/ui/Undock.ogg</parameter>
	<parameter db="system" name="lockscreen_sounds_enabled">0</parameter>
	<parameter db="system" name="lock_sound">/system/media/audio/ui/Lock.ogg</parameter>
	<parameter db="system" name="unlock_sound">/system/media/audio/ui/Unlock.ogg</parameter>
	<parameter db="system" name="usb_connected_sound">/system/media/audio/ui/LG_Cable_Connect.ogg</parameter>
	<parameter db="system" name="vibrate_in_silent">1</parameter>
	<parameter db="system" name="pointer_speed">0</parameter>
	<parameter db="system" name="gesture_home_rearrange">0</parameter>
	<parameter db="system" name="gesture_all_editor">0</parameter>
	<parameter db="system" name="gesture_voice_call">0</parameter>
	<parameter db="system" name="gesture_alarm">0</parameter>
	<parameter db="system" name="gesture_image_viewer">0</parameter>
	<parameter db="system" name="gesture_image_panning">0</parameter>
	<parameter db="system" name="gesture_video_player">0</parameter>
	<parameter db="system" name="gesture_tilt_value">2</parameter>
	<parameter db="system" name="gesture_tilt_default_use">1</parameter>
	<parameter db="system" name="time_12_24">24</parameter>
	<parameter db="system" name="power_save_mode">30</parameter>
	<parameter db="system" name="power_save_mode_activated">0</parameter>
	<parameter db="system" name="power_save_wifi">1</parameter>
	<parameter db="system" name="power_save_sync">0</parameter>
	<parameter db="system" name="power_save_bt">1</parameter>
	<parameter db="system" name="power_save_gps">1</parameter>
	<parameter db="system" name="power_save_nfc">1</parameter>
	<parameter db="system" name="power_save_brightness_adjust">1</parameter>
	<parameter db="system" name="power_save_brightness">20</parameter>
	<parameter db="system" name="power_save_brightness_mode">1</parameter>
	<parameter db="system" name="power_save_animations">0</parameter>
	<parameter db="system" name="power_save_enabled">0</parameter>
	<parameter db="system" name="power_save_touch">1</parameter>
	<parameter db="system" name="power_save_screen_timeout">15000</parameter>
	<parameter db="system" name="power_save_screen_timeout_adjust">1</parameter>
	<parameter db="system" name="power_save_front_led">1500</parameter>
	<parameter db="system" name="power_save_front_led_adjust">1</parameter>
	<parameter db="system" name="power_save_battery_indicator">0</parameter>
	<parameter db="system" name="power_save_wifi_restore">0</parameter>
	<parameter db="system" name="power_save_sync_restore">0</parameter>
	<parameter db="system" name="power_save_bt_restore">0</parameter>
	<parameter db="system" name="power_save_nfc_restore">0</parameter>
	<parameter db="system" name="power_save_touch_restore">0</parameter>
	<parameter db="system" name="power_save_screen_timeout_restore">1</parameter>
	<parameter db="system" name="power_save_brightness_restore">-1</parameter>
	<parameter db="system" name="power_save_front_led_restore">-1</parameter>
	<parameter db="system" name="wifi_sleep_policy">2</parameter>
	<parameter db="system" name="multi_sim_voice_call">0</parameter>
	<parameter db="system" name="multi_sim_data_call">0</parameter>
	<parameter db="system" name="multi_sim_sms">0</parameter>
	<parameter db="system" name="tethering_time">300000</parameter>
	<parameter db="system" name="wifi_activation_while_charging">0</parameter>
	<parameter db="system" name="wifi_offloading_timer_value">1800000</parameter>
	<parameter db="system" name="wifi_networks_available_auto_on">1</parameter>
	<parameter db="system" name="wifi_networks_available_auto_connect">1</parameter>
	<parameter db="system" name="sim_theme">0</parameter>
	<parameter db="system" name="sim_icon_1">0</parameter>
	<parameter db="system" name="sim_icon_2">0</parameter>
	<parameter db="system" name="sim_check1">0</parameter>
	<parameter db="system" name="sim_check2">0</parameter>
	<parameter db="system" name="wifi_before_detailed_state">0</parameter>
	<parameter db="system" name="autorun_switch">1</parameter>
	<parameter db="system" name="usb_ask_on_connection">1</parameter>
	<parameter db="system" name="fm_svcst_bluetooth_fm_receiver_service">1</parameter>
	<parameter db="system" name="fm_svcst_bluetooth_fm_transmitter_service">1</parameter>
	<parameter db="system" name="fm_svcst_init">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_bpp_service">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_dm_service">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_dun">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_ftp">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_opp_service">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_pbap">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_sap">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_map">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_test">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_avrcp">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_fm_receiver_service">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_flick">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_hid">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_pan">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_hdp">0</parameter>
	<parameter db="system" name="bt_svcst_init">1</parameter>
	<parameter db="system" name="shop_mode">1</parameter>
	<parameter db="system" name="screen_off_timeout">120000</parameter>
	<parameter db="system" name="screen_brightness">255</parameter>
	<!--	<parameter db="system" name="timed_silent_mode">0</parameter>	-->
	<parameter db="system" name="power_save_started">-1</parameter>
	<!--	<parameter db="system" name="ringtone">content://media/internal/audio/media/35</parameter>	-->
	<parameter db="secure" name="bluetooth_on">0</parameter>
	<parameter db="secure" name="data_roaming">0</parameter>
	<parameter db="secure" name="install_non_market_apps">0</parameter>
	<parameter db="secure" name="mobile_data">0</parameter>
	<!--	<parameter db="secure" name="location_providers_allowed">gps,network</parameter>	-->
	<parameter db="secure" name="assisted_gps_enabled">1</parameter>
	<parameter db="secure" name="network_preference">1</parameter>
	<parameter db="secure" name="usb_mass_storage_enabled">1</parameter>
	<parameter db="secure" name="wifi_networks_available_notification_on">1</parameter>
	<parameter db="secure" name="preferred_network_mode">0</parameter>
	<parameter db="secure" name="cdma_cell_broadcast_sms">1</parameter>
	<parameter db="secure" name="mock_location">0</parameter>
	<parameter db="secure" name="backup_enabled">0</parameter>
	<parameter db="secure" name="backup_transport">com.google.android.backup/.BackupTransportService</parameter>
	<parameter db="secure" name="mount_play_not_snd">1</parameter>
	<parameter db="secure" name="mount_ums_autostart">0</parameter>
	<parameter db="secure" name="mount_ums_prompt">1</parameter>
	<parameter db="secure" name="mount_ums_notify_enabled">1</parameter>
	<parameter db="secure" name="accessibility_script_injection">0</parameter>
	<parameter db="secure" name="accessibility_web_content_key_bindings">0x13=0x01000100; 0x14=0x01010100; 0x15=0x02000001; 0x16=0x02010001; 0x200000013=0x02000601; 0x200000014=0x02010601; 0x200000015=0x03020101; 0x200000016=0x03010201; 0x200000023=0x02000301; 0x200000024=0x02010301; 0x200000037=0x03070201; 0x200000038=0x03000701:0x03010701:0x03020701;</parameter>
	<parameter db="secure" name="long_press_timeout">500</parameter>
	<parameter db="secure" name="touch_exploration_enabled">0</parameter>
	<parameter db="secure" name="speak_password">0</parameter>
	<parameter db="secure" name="kt_3g_vcc_activate">0</parameter>
	<parameter db="secure" name="kt_3g_vcc_activate_alert">1</parameter>
	<parameter db="secure" name="sim_type_settings">0</parameter>
	<parameter db="secure" name="preferred_data_network_mode">1</parameter>
	<parameter db="secure" name="data_network_wait_for_paypopup_response">0</parameter>
	<parameter db="secure" name="data_network_user_paypopup_response">0</parameter>
	<parameter db="secure" name="data_network_user_paypopup_transition_from_wifi_to_mobile">0</parameter>
	<parameter db="secure" name="frontkey_led_timeout">1500</parameter>
	<parameter db="secure" name="enabled_input_methods">com.lge.ime/.LgeImeImpl:com.google.android.voicesearch/.ime.VoiceInputMethodService</parameter>
	<parameter db="secure" name="selected_input_method_subtype">-1</parameter>
	<parameter db="secure" name="default_input_method">com.lge.ime/.LgeImeImpl</parameter>
	<parameter db="secure" name="adb_enabled">0</parameter>	<!-- user : 0 / eng : 1 -->
	<parameter db="secure" name="voice_recognition_service">com.google.android.voicesearch/.GoogleRecognitionService</parameter>
	<!--	<parameter db="secure" name="device_provisioned">1</parameter>	-->
	<parameter db="secure" name="wifi_on">0</parameter>
	<!-- null
	<parameter db="system" name="areacode_key_userareacode"></parameter>
	<parameter db="system" name="volume_ring_last_audible">5</parameter>
	<parameter db="system" name="com.android.current.font">/system/etc/fonts/SJjunglego.ttf</parameter>
	<parameter db="system" name="com.jungle.app.fonts.settings.fontsname">/system/etc/fonts/SJjunglego.ttf</parameter>
	<parameter db="secure" name="pdp_setup_mode">0</parameter>
	<parameter db="secure" name="gmm_attach_mode">1</parameter>
	<parameter db="secure" name="fast_dormancy_variant">10</parameter>
	<parameter db="secure" name="multiple_pdp_mode">0</parameter>
	<parameter db="secure" name="pdp_linger_variant">0</parameter>
	<parameter db="secure" name="external_pdp_mode">1</parameter>
	<parameter db="secure" name="ip_mtu_variant">1500</parameter>
	<parameter db="secure" name="tcp_windows_variant">4096,87380,110208,4096,16384,110208</parameter>
	<parameter db="secure" name="wifi_coexist_mode">0</parameter>
	<parameter db="secure" name="preferred_cdma_subscription">1</parameter>
	<parameter db="secure" name="mpdp_check">2</parameter>
	<parameter db="system" name="media_button_receiver"></parameter>
	<parameter db="system" name="LargeText_Flag"></parameter>
	<parameter db="system" name="mynetwork_1"></parameter>
	<parameter db="system" name="mynetwork_2"></parameter>
	<parameter db="system" name="next_alarm_formatted"></parameter>
	<parameter db="secure" name="input_methods_subtype_history"></parameter>
	<parameter db="system" name="alarm_alert">content://media/internal/audio/media/5</parameter>
	<parameter db="system" name="notification_sound">content://media/internal/audio/media/19</parameter>
	-->
	<!--
	<parameter db="system" name="next_alarm_formatted"></parameter>
	<parameter db="system" name="com.jungle.app.fonts.settings.fontsname.later"></parameter>
	<parameter db="system" name="volume_vibrate">5</parameter>
	<parameter db="system" name="vt_auto_fallback">0</parameter>
	<parameter db="system" name="vt_use_private">0</parameter>
	<parameter db="system" name="vt_set_speaker">1</parameter>
	<parameter db="system" name="vt_private_name">/system/media/image/vt/default.jpg</parameter>
	<parameter db="system" name="vt_loopback">0</parameter>
	<parameter db="system" name="vt_h324_video_codec">0</parameter>
	<parameter db="system" name="vt_h324_call_setup">0</parameter>
	<parameter db="system" name="vt_h324_fast_connection">0</parameter>
	<parameter db="system" name="vt_h324_framerate">3</parameter>
	<parameter db="system" name="vt_h324_maxqp">2</parameter>
	<parameter db="system" name="vt_h324_bitrate">4</parameter>
	<parameter db="system" name="vt_h324_refreshperiod">1</parameter>
	<parameter db="system" name="vt_h324_setimagequality">0</parameter>
	<parameter db="system" name="vt_dbg_core">0</parameter>
	<parameter db="system" name="vt_dbg_callcontrol">0</parameter>
	<parameter db="system" name="vt_dbg_3g324m">0</parameter>
	<parameter db="system" name="vt_dbg_enhancement">0</parameter>
	<parameter db="system" name="vt_dbg_dumpnw">0</parameter>
	<parameter db="system" name="vt_dbg_dumptxav">0</parameter>
	<parameter db="system" name="vt_dbg_dumprxav">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_dg_service">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_fm_receiver_service">1</parameter>
	<parameter db="secure" name="enable_menu_without_usim">1</parameter>
	<parameter db="system" name="volume_fm">8</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_pbs">0</parameter>
	<parameter db="system" name="volume_camera">1</parameter>
	<parameter db="system" name="oem_rad_test">0</parameter>
	<parameter db="system" name="power_save_mode_on">0</parameter>
	<parameter db="system" name="call_waiting_volume">2</parameter>
	<parameter db="system" name="areacode_key">0</parameter>
	<parameter db="secure" name="oemrad_setting">1</parameter>
	<parameter db="secure" name="smsmo_domain_mode">3</parameter>
	<parameter db="secure" name="dialer_roaming_popup">0</parameter>
	<parameter db="secure" name="service_domain_mode">2</parameter>
	<parameter db="system" name="show_web_suggestions">1</parameter>
	<parameter db="secure" name="answer_setting">1</parameter>
	<parameter db="secure" name="ota_usim_running">0</parameter>
	<parameter db="system" name="call_waiting_type">0</parameter>
	<parameter db="secure" name="sim_err_popup_msg">0</parameter>
	<parameter db="system" name="areacode">02</parameter>
	<parameter db="system" name="font_scale">1.0</parameter>
	<parameter db="system" name="areacode_enabled">0</parameter>
	-->
</parameters>
